@import url('https://fonts.googleapis.com/css?family=Corben:700');
h1 {
    font-family: 'Corben', cursive;
    font-size: 6rem;
    color: white;
    letter-spacing: 0.1rem;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.66);
}

.background {
    background-color: red;
}

.hero-bkg-animated {
    background: gray url(https://media0.giphy.com/media/9YNAim10KNUeA/giphy.gif);
    background-size: cover;
    width: 100%;
    margin: 0;
    text-align: center;
    height: 2000px;
    padding-top: 120px;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
}

.hero-bkg-animated h1 {
    font-family: sans-serif;
}

@-webkit-keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -400px 0;
    }
}