body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Bungee+Inline|Josefin+Sans|Limelight|Megrim|Monoton|Oleo+Script|Orbitron|Playfair+Display|Prata|Press+Start+2P|Wallpoet');
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media (min-width:992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        transition: padding-top .3s, padding-bottom .3s;
        border: none;
        background-color: transparent;
    }
}

.navbarstyle {
    background-image: url('../src/images/Space.jpg');
}

.brand-properties {
    font-family: Orbitron;
}

.navbar-brand {
    font-size: 2.2rem!important;
}

.nav-link {
    color: rgb(255, 255, 255)!important;
    font-family: "Josefin sans";
    font-size: 1.1rem;
}

.card-margin {
    margin-top: 3rem;
}

.navbar-dark .navbar-toggler {
    color: hsla(0, 0%, 100%, .5);
    border-color: hsla(0, 0%, 100%, .1);
}

.hero-bkg-animated {
    background: gray url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0;
    width: 100%;
    margin: 0;
    text-align: center;
    height: 300px;
    padding-top: 120px;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
}

.hero-bkg-animated h1 {
    font-family: sans-serif;
}

@-webkit-keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -400px 0;
    }
}


/* End Here */

.card-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.large-card-style {
    height: 30rem;
}

@media (min-width:992px) {
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

img,
svg {
    vertical-align: middle;
}

img {
    border-style: solid;
}


/*Card Body Info*/

.clean-card .info {
    padding: 30px;
}


/*Card Category Title*/

.clean-card h4 {
    font-weight: 600;
    font-size: 1em;
}

.card-title {
    margin-bottom: .75rem;
}

.h4,
h4 {
    font-size: 1.5rem;
}


/*Clean Card Paragraph*/

.clean-card p {
    opacity: .8;
    font-size: .85em;
    margin-bottom: .9em;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}


/*The "design it"*/


/*Will fill the card text paragraph*/

.card-text {
    text-align: left;
    letter-spacing: .1rem;
}


/*Form for New Page CSS*/

.clean-block.clean-form form {
    border-top: 3px solid rgb(127, 137, 135);
    background-color: #fff;
    max-width: 500px;
    margin: auto;
    padding: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .075);
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


/*Subject field*/

.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-control:focus {
    color: #495057;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none;
    }
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}


/*Pointer Cursor On Scroll*/

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.btn-block {
    display: block;
    width: 100%;
}


/*Class for button*/

.product-info {
    /* background-color: rgb(240, 240, 240); */
    border: solid 1px white;
    border-radius: 2%;
}

.card-border {
    border: solid 1px white;
    border-radius: 1.5%;
}


/*Info Pages*/

.category-design h3 {
    font-family: "playfair display sc";
}

.card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.link-name {
    font-family: "Orbitron";
    font-size: 1.5rem;
}

.button-margin {
    margin-left: 2rem;
}

.card-container {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.card-img-top {
    max-height: 300px;
}

.card-body {
    color: white;
    background: rgba(0, 0, 0);
}

.card-body span {
    color: white;
}

.additional-facts {
    font-family: "megrim";
    font-weight: bold;
    font-size: 1.5rem;
}

.button-margin-all {
    margin-top: 2rem;
}

.font-style {
    font-family: "Orbitron";
}


/* Glitch */

.glitch {
    animation: glitch-skew 3s cubic-bezier(.25, .46, .45, .94) 3s infinite;
    font-family: "Orbitron";
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transform-origin: center top;
    &__main {
        color: #FFF;
    }
    &__color {
        height: 100%;
        left: 0;
        opacity: 0.8;
        position: absolute;
        top: 0;
        transform-origin: center center;
        width: 100%;
        z-index: -1;
        &--red {
            animation: glitch 300ms cubic-bezier(.25, .46, .45, .94) infinite;
            color: red;
        }
    }
    &__line {
        animation: glitch-line 2s linear infinite;
        background: #000;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        &--first {
            animation: glitch-line 2s linear infinite;
        }
        &--second {
            animation: glitch-line 1s linear 1s infinite;
        }
    }
}

@keyframes glitch {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-8px, 8px);
    }
    40% {
        transform: translate(-8px, -8px);
    }
    60% {
        transform: translate(8px, 8px);
    }
    80% {
        transform: translate(8px, -8px);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes glitch-skew {
    0% {
        transform: skew(0deg, 0deg);
    }
    48% {
        transform: skew(0deg, 0deg);
        filter: blur(0);
    }
    50% {
        transform: skew(-20deg, 0deg);
        filter: blur(4px);
    }
    52% {
        transform: skew(20deg, 0deg);
    }
    54% {
        transform: skew(0deg, 0deg);
        filter: blur(0);
    }
    100% {
        transform: skew(0deg, 0deg);
    }
}

@keyframes glitch-line {
    0% {
        top: 0;
    }
    100% {
        top: 100%;
    }
}


/* Weather CSS */

.weather {
    background-color: whitesmoke;
}

.atlanta {
    font-family: "Josefin sans"!important;
    font-size: 4rem;
}

.atlanta-small {
    font-family: "Josefin sans"!important;
}

.font-style {
    font-family: "Orbitron" !important;
}

.border-style {
    border-style: none;
}

.rover-caption {
    font-family: "Megrim"!important;
    font-size: 3rem!important;
}

.rover-small {
    font-size: 1.5rem;
}

.rover-img {
    border-color: 1px whitesmoke;
}